@use 'src/scss/colors';

.Work-Card {
	background: colors.$bg-200;
	width: 100%;
	max-width: 340px;
	border-radius: 0.25rem;
	overflow: hidden;
	transition: 0.5s;
	margin: auto;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

	&:hover {
		box-shadow: 0 0 20px 0 colors.$primary;
		transform: scale(1.05);
	}
}

.Work-Card__head-bar {
	height: 32px;
	width: 100%;
	background: colors.$bg-300;
	display: flex;
	gap: 0.25rem;
	align-items: center;
	padding: 0 0.5rem;

	.circle {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: colors.$bg-200;
	}
}

.Work-card__image {
	margin-bottom: 1rem;

	img {
		width: 100%;
		aspect-ratio: 16/9;
		object-fit: cover;
	}
}

.Work-card--btn {
	border: 0;
	font-size: 1.25rem;
	background: colors.$background;
	color: colors.$text-100;
	width: 40px;
	height: 40px;
	border-radius: 50%;

	&:hover {
		color: colors.$primary;
	}
}

.Word-card--description {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
	min-height: 96px;
}

.Work-card__status {
	display: flex;
	align-items: center;
	background-color: colors.$bg-300;
	padding: 0.25rem 0.5rem;
	border-radius: 1rem;
	gap: 0.5rem;

	span {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: colors.$inProgress;
	}

	p {
		margin: 0;
		font-size: 14px;
		color: colors.$text-100;
		text-transform: capitalize;
	}
}

.shadow-drop-center {
	animation: shadow-drop-center 0.4s linear both;
}

@keyframes shadow-drop-center {
	from {
		box-shadow: 0 0 0 0 transparent;
		transform: scale(1);
	}

	to {
		box-shadow: 0 0 10px 0 colors.$primary;
		transform: scale(1.05);
	}
}
