@use 'src/scss/colors';

.about__photo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, colors.$primary 0%, colors.$background 100%);
  background-size: 400% 400%;
  animation: GradientAnimation 5s ease infinite;
  padding: 4px;
  border-radius: 0.5rem;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%;
  }
}

.avatar {
  height: auto;
  width: 300px;
  border-radius: 4px;
  //border-radius: 0.5rem;
  //border: 5px solid colors.$bg-300;

  @media (min-width: 992px) {
    width: 100%;
  }
}

.about-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;

  @media (min-width: 992px) {
    flex-wrap: nowrap;
  }
}

.about__info-container {
  flex-grow: 1;

  @media (min-width: 992px) {
    order: 2
  }
}

.about__description {
  flex-grow: 1;
}
