@use 'src/scss/colors';

.header-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;
  width: 100%;
  background: colors.$bg-200;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: colors.$text-100;

    &:hover {
      color: colors.$primary
    }
  }

  .navbar--logo {
    font-size: 1.25rem;
    font-weight: bold;
  }
}
