@use 'src/scss/colors';

.list-group {
  .list-group-item {
    background: transparent;
    color: colors.$text-100;
  }
}

.Experience-video {
  width: 100%;
  padding-right: 2rem;
  height: auto;
  aspect-ratio: 16/9;
}
