$primary: #74f180;

$theme-colors: (
    "primary": $primary
);

textarea {
    resize: none !important;
}

.card-photo-bg {
    height: 400px;
    width: 336px;
    border-radius: 16px;
    margin: auto;
}

.card-photo {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 16px;
}

@media screen and (min-width: 992px) {
    .card-photo-bg {
        transform: rotate(-9.55deg);
    }

    .card-photo {
        transform: rotate(9.55deg);
    }
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
