$primary: #74f180;
$secondary: #263238;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
);

h1,
h2,
p {
    color: $secondary;
}

.neon {
    color: $primary;
}

.section {
    min-height: calc(100vh - 56px);
    position: relative;
}

.about {
    display: flex;
    margin-top: 56px;
}

.about-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    height: 100%;
}

.page-container {
    background-color: #fff;
    transition: background-color 0.5s;
}

.navbar {
    position: sticky !important;
    background-color: #fff !important;
    z-index: 10 !important;
    transition: 0.5s;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.5rem 2rem !important;
}

.navbar-brand:hover {
    color: $primary !important;
}

.dark {
    background-color: #1E1E1E !important;
    color: #fff;
    transition: background-color 0.5s;

    .navbar {
        background-color: #1E1E1E !important;
        transition: 0.5s;
    }

    h1,
    h2,
    p {
        color: #fff !important;
    }

    .neon {
        color: #fff;
        text-shadow: 0 0 1px $primary,
            0 0 5px $primary,
            0 0 10px $primary,
            0 0 20px $primary;
        transition: 0.5s;
    }

    .modal-content {
        background-color: #1E1E1E;
    }

    .nav-link {
        color: #fff !important;
    }

    .nav-link.active {
        background-color: transparent !important;
    }

    .nav-link:hover {
        color: $primary !important;
    }

    .navbar-brand {
        color: #fff;
    }

    .list-group-item {
        background-color: transparent;
        color: #fff;
    }

    .navbar-toggler {
        color: #fff;
        border-color: $secondary;
    }
}

.point {
    background-color: #f1f1f1;
    width: 16px;
    height: 16px;
}

.temp-line {
    position: relative;
}

.temp-line::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #f1f1f1;
    width: 2px;
    left: 8px;
    margin-top: 60px;
    margin-bottom: 150px;
}

.skillItem {
    width: 70px;

    .skillItem-image {
        display: flex;
        justify-content: center;
        width: 70px;
        height: 70px;
    }
}

textarea {
    resize: none !important;
}

.work-container-img {
    height: 230px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.work-container-img {
    img {
        transition: 0.5s;
    }
}

.work-container-img:hover {
    img {
        transform: scale(1.10);
        transition: 0.5s;
    }
}

.work-container-interactive {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    background-color: #74f18072;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
}

.work-container-img:hover .work-container-interactive {
    transform: translateY(0);
    transition: 0.5s;
}

.work-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
}

.hide {
    display: none;
}

.appear {
    animation: appear 2s;
}

.blockquote-footer {
    letter-spacing: 5px;
}

.card-photo-bg {
    height: 400px;
    width: 336px;
    border-radius: 16px;
    margin: auto;
}

.card-photo {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 16px;
}

.progress-container {
    height: 100%;
}

.progress-none {
    width: 0;
    height: 100%;
}

.progress-transition {
    width: 100%;
    background-color: $primary;
    transition: width 1s linear;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@media screen and (min-width: 992px) {
    .card-photo-bg {
        transform: rotate(-9.55deg);
    }

    .card-photo {
        transform: rotate(9.55deg);
    }
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
